# Active Spring profile for inventory-service (e.g., dev, prod)
SPRING_PROFILES_ACTIVE=dev

# Git URI for the config-server to read configuration files from
SPRING_CLOUD_CONFIG_SERVER_GIT_URI=file:///etc/config-repo

# Default Git branch for the config-server
SPRING_CLOUD_CONFIG_SERVER_GIT_DEFAULT_LABEL=master

# Config server URI for the inventory-service client
SPRING_CLOUD_CONFIG_URI=http://config-server:8888
